.mainnav {
	position: sticky;
	width: 100%;
	top: 0;
}

ul{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
width: 100%!important;
background: #0261ea;
}
.searchbutton{
 display:  inline-block;
	float: right;
	
}
body{
	background-color: #ceccce;
}

li{
    float: left;
	   display: block;
	   padding: 8px;
	   background-color: #0261ea;
	   width: 9.21%;
				border-right: 1px solid white;	
}

header{
 text-align: center;	
}
p{
color: #DFDCE3;
font-size: 22px;
}

/*Old Website Code
 /* a:link{
color: black;
text-align: center;
}
a:hover{color: gold}

a:active{color: white;}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gold;
    position: -webkit-sticky; /* Safari */
   /* position: sticky;
    top: 0;
				font-size: 25px;

}
	li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif}

  
li a:hover {
    background-color: black;
}

body{
background-color: green;
}


/* Headings */

/*.main-heading{
color: gold;
text-align: center;	
}


/* Paragraphs */ 
/*p{
color: mediumblue;
font-size: 25px;
}
.paragraph-main