/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* Browser Reset Code Begins*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Navigation */
.mainnav {
    position: sticky;
    width: 100%;
    top: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%!important;
    background: #0261ea;
}
.searchbutton{
    display:  inline-block;
    float: right;
}

#googlesearch{
    width: 25%;
    float: right;
    background-color:blue;
    position: sticky;
    position: -webkit-sticky;
    top:0
}
	
/* Main Settings */
h1{
    color: royalblue;
    font-family: sans-serif
}

body{
    background-color: #ceccce;
}

li{
    float: left;
    display: block;
    padding: 8px;
    background-color: #0261ea;
    width: 9.21%;
    border-right: 1px solid white;	
}

header{
    text-align: center;
    font-family: 'Vidaloka';
    margin-top: 82px;
        
}
.home{
    color: solid black;
    font-size: 22px;
    font-family:'Arvo', serif;	
    line-height: 34.4px;
    text-indent: 26px;
}

blockquote{
    background: white;
    border-left: 10px solid red;
    margin: 9.5em 1px;
    padding: 0.5em 10px;
    quotes:            
}

.EmailText{
    color: solid black;
    font-size: 22px;
    font-family:'Arvo', serif;	
    line-height: 34.4px;  
}
.github{
    color: coral;
    font-family: sans-serif;
    text-align: center;
}
	
/* Link Colors */
a:link{
    color: lawngreen;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
}
a#theemail:link{
    color: #0231ea;
    text-decoration: none;
	 
}
a:visited{
    color: lawngreen; text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    background-color: white;
}

a:hover{
    color: white;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    
    display: block;
}
a:active{
    color: red;
    font-family: 'Orbitron', sans-serif;
    
}

/* Fonts */
.aboutfont{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;	
}

.title1 {
    margin-top: 73px;
}
/* HyperLink */
.githublink:visited {
    color: blue;
}

li.one{
 background-color: darkblue;
}
.two:hover {
    background-color:blue;
}
/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0261ea;
  color: black;
  text-align: center;
}
/* Images */

.codeimage {
    margin-bottom: -426px;
    border-radius: 17%
}

 /*Title Settings*/ 

.index_title{
    font-size: 32px;
} 
.nav_title{
    font-size: 28px;
    font-family: 'Bangers', cursive;
    color: white;
    margin-top: 3px;
}
.list_space1{
    margin-top: 39px ;
}
.list_space2{
    margin-top: 26px;
}