/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* Browser Reset Code Begins*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Navigation */
.mainnav {
    position: sticky;
}
a{
    display: block;
    padding: 8px
}
ul {
    background: #0261ea;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.searchbutton {
    display: inline-block;
    float: right;
}
/* Make Media Query to adjust the width of Google Search for mobile devices */
#googlesearch {
    width: 25%;
    float: right;
}

/* Main Settings */
h1 {
    color: royalblue;
    font-family: sans-serif
}

body {
    background-color: #ceccce;
}

li {
    float: left;
    background-color: #0261ea;
    border-right: 1px solid white;
}

header {
    text-align: center;
    font-family: 'Rubik';
    margin-top: 82px;

}
#html_lang {
    position: absolute;
    top: 0em;
    left:  0em;
    border: 3px solid red;
}

#css_lang{
    position: absolute;
    top: 16em;
    left: 51em;
    font-family: 'ZCOOL QingKe Huang';
}
#script_lang{
    position: absolute;
    top: 
}
.home {
    color: black;
    /*font-size: 1.375em;*/
    font-family: 'Oswald', sans-serif;
    /*line-height: 34.4px;
    text-indent: 26px;*/
    /*position: relative;
    top: 20vh;*/
    
}
#index_github_logo{
    float: left;
    position: relative;
    left: -4em;
    bottom: -1em;
}
blockquote {
    background: white;
    border-left: 10px solid red;
    margin: 0;
    padding: 0.5em;
    width: 35%;
    float: left;
    position: relative;
    right: -30em;
    bottom: -12em;
}

.EmailText {
    color: solid black;
    font-size: 22px;
    font-family: 'Arvo', serif;
    line-height: 34.4px;
}

/*.github {
    color: coral;
    font-family: sans-serif;
    text-align: center;*/
}

/* Link Colors */
a:link {
    color: #0000EE;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
}

.page_link a:link {
    color: lawngreen;
    font-family: 'Orbitron';
    text-decoration: none;
}

.page_link a:visited {
    color: lawngreen;
}

.github a:hover {
    color: blue;
    font-family: 'Oswald';
}

a:visited {
    color: #551A8B;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    background-color: white;
}

a:hover {
    color: #0000EE;
    text-decoration: none;


    display: block;
}

a:active {
    color: #EE0000;

}

/* Fonts 
Titles on the page should be 32px and text font should be 22px convert to em's. Font for text should be Oswald. 
*/
.aboutfont {
    font-family: 'Oswald', sans-serif;
    font-size: 2.250px;
}

*/ .title1 {
    margin-top: 73px;
}

.langlist {
    font-size: 1.750em
}

/* HyperLink */
/*.githublink:visited {
    color: blue;
}
*/
li.currenttab {
    background-color: black;
}

.two:tabs {
    background-color: blue;
}

/* Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0261ea;
}

.footer_font {
    font-family: "Bangers", cursive;
    color: white;
}
#contact_index{
    float: right;
    position: relative;
    right: 47em;
    top: -2em;    
}
#footer_tel{
    float: right;
    position: relative;
    right: 37em;
    top: -1.2em;
}
#index_tel{
    float: right;
    right: 26em;
    position: relative;
}
/* Images */

img{
   height: auto;     
}
.codeimage {
    margin-bottom: -426px;
    border-radius: 17%;
    margin-left: 30px;
}

.github_logo {
    width: 95px;
}

.linkedin_logo {
    width: 3.563em;
    float: left;
    left: -4em;
    position: relative;
}

/*Title Settings*/
#rebrand{
    position: absolute;
    top: 9em;
    left: 20.2em;

}


#lee{
   position: absolute;
   top: 6em;
   left: 18em; 
}
.index_title {
    font-size: 3em;
    font-family: 'Rubik', sans-serif;
    /*position: absolute;
    top: 1em;
    left: 9em;*/
}

.nav_title {
    font-size: 1.750em;
    font-family: 'Bangers', cursive;
    color: white;
    float: left;
    position: relative;
    top: 0.5vh;
    left: 52vh;
}

.list_space1 {
    margin-top: 39px;
}

.list_space2 {
    margin-top: 26px;
}

.theight {
    position: absolute;
    top: 4em;
    left: 19em;
}

.headings {
    font-size: 15em
}

.test_title {
    font-size: 15em;
}

.footer_link {
    font-family: 'Oswald', sans-serif;
    color: gold;
}

.footer_link a: {
    color: aliceblue
}



* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* Mobile Nav */
@media only screen and (max-width: 1366px){

}

.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
  width: 100%
}

.topnav {
  overflow: hidden;
  background-color: white;
  position: relative;    
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}
}


