/* Stylesheet for index.html only */
/*
Table of Contents

Browser Reset Code Line 21
CSS Grid Layout Line 67
Navigation Bar Properties Line 81

*/
/* Browser Reset Code
 http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Browser Reset Code*/
/* Website Code */
body {background-color: 	#708090}
/* CSS Grid Layout */
.item1 { grid-area: header; }

.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu main main main right right'
      'menu footer footer footer footer footer';
    grid-gap: 10px;
    padding: 0px;
  }
  
  .grid-container > div {
    padding:  0;
  }
/* Navigation Bar Properties */ 
  #nav_container{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0261ea;
  
  }

  .nav_items {
    float: left;
    border-right: 1px solid white;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .nav_items a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .link_color{
    color: gold;
    text-decoration: none;
  }
  .dev_color
  li:link_color{
    color: gold;
  }
  li:link_color:active{
    color: gold;
  }
 li:link_color:visited{
    color: gold;
  }
  .nav_items a:hover:not(.active) {
    background-color: white;
    color: black;
  }
  
  .active {
    background-color: black;
  }

  .nav_items_active{
      float: right;
      border-right: none;
      color: white;
      font-size: 24px;
      margin: 8px;
  }
  /* Page Titles */
  #title_header{
    color: #FFB81C;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 4em;
  }
  #slogan{
    color: black;
    font-family: 'Biryani', sans-serif;
    font-size: 1.5em;
    line-height: 1.9em;
    position: relative;
    width: 91%; 
    top: 1em;
    left: 1.5em;
  }
/* Footer */
#footer_column{
  flex: 1;
}
#footer_column:after{
  content: "";
  display: table;
  clear: both;
}
#footer_positioning{
  position: fixed;
  left: 0;
  bottom: 0;
  display:flex;
  
  width: 100%;
  background-color: #0261ea;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.footer_list_positioning {
  position: relative;
  top: .2em;
  line-height: 1.4em;
}
.footer_list_positioning2{
  position: relative;
  top: .2em;
  line-height: 1.4em;
}
.footer_header{
font-size: 1.5em;
}
#links_positioning{
  text-align: left;
 flex :1 ;
 position: relative;
 bottom: 2em;
}

#developers_positioning{
  text-align: left;
  flex:1; 
  position: relative;
  bottom: 2.5em;
  left: 1em
}
#portfolio{
  font-size: 4em;
  color: #FFB81C;
    text-align: center;
    font-family: 'Staatliches', cursive;
}
.test_center{
  margin: 0 auto;
}
  /* Media Queries */
  @media (max-width: 800px){
  
    #slogan{
    font-size: 1.1em;
     position: absolute;
      top: 12em;
      left: 1.2em;
    }
  
  footer {
    display: none;
  }
  #footer_positioning{
    display: none;
  }
}
@media (max-width: 800px){
/*#links_positioning{
  display: none;
}
#developers_positioning{
  display: none;
}

*/

}