/*Basic Tags*/
body{
    margin: 0;
}

#mission_text{
    font-family: 'Roboto', sans-serif;
}
#index_header_font{
    font-family: 'Proza Libre', sans-serif;
    text-align: center
}
* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 100%;
    padding: 10px;
    height: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

ul{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
/*Navigation Bar*/
/* Add a gray right border to all list items, except the last item (last-child) */
li {
    border-right: 1px solid #bbb;
  }

  li:last-child {
    border-right: none;
  }
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0261ea;
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /*ul.topnav li a:hover:not(.active) {background-color: #111;}*/
  
  ul.topnav li a.active {background-color: black;}
  
  ul.topnav li.right {
      float: right;
      font-size: 1em;
    }
 #php_position{
   position: relative;
   right: 0%;
 }
 
 
 
    /* Media Queries */
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }


  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  ul{
    position: static;
  }  
  
  #php_position{
   position: relative;
   right: -28%;
  }
  #js_position{
    position: relative;
    right: -22%;
  }
  #css_position{
    position: relative;
    right: -16%;
  }
  #html_position{
    position: relative;
    right: -9%;
  }
}

@media screen and (min-width: 600px){
  #php_position{
    position: relative;
    right: -44%;
  }
  #js_position{
    position: relative;
    right: -40%;
  }
  #css_position{
    position: relative;
    right: -36%;
  }
  #html_position{
    position: relative;
    right: -32%;
  } 
}