.email_link a:hover {
	color: white
}

.email_link a:link {
	text-decoration: none;
}

.contacts a:link {
	text-decoration: none;
	color: black;
}

.contacts a:active {
	color: white
}

.contacts a:hover {
	color: red;
}

.contacts {
	font-size: 2em;
	margin-top: 2em;
	font-family: 'Oswald', sans-serif;
}

.list_style {
	line-height: 2em;
}

.social_links {
    font-family: 'Bangers', sans-serif;
    color: white;
    float: left;
    position: relative;
    right: -2.5em;
    bottom: -0.5em;
}

#quote_text {
	font-family: 'Thasadith', serif;
	color: blue;
}

.footer_size {
	margin-left 3em;
}


.body2 {
	font-family: Helvetica, sans-serif;
	padding: 5%;
	text-align: center;
}

